.container {
  left: 0;
  margin: 0 auto;
  padding: 0 32px;
  top: 0;
  width: 360px;
}

.header {
  align-items: center;
  display: flex;
  height: 124px;
  justify-content: center;
  margin-top: 100px;
}

.icon {
  color: #fff;
  display: flex;
  font-size: 48px;
  justify-content: center;
  margin: 146px 0 40px;
  min-height: 60px;
}

.message {
  text-align: center;
  font-family: "Roboto";
  color: #fff;
}

.title {
  font-size: 24px;
  margin-bottom: 8px;
}

.text {
  font-size: 14px;
}
